:root {
	--txt-clr: #000112;
	--primary-bg-clr: #fff;
	--secondary-bg-clr: #f4f7fd;
	--third-bg-clr: rgba(255, 255, 255, 0.5); 
	--fourth-bg-clr: #f4f7fd;
	--lines-clr: #e4ebfa;
}

.dark-mode {
	--txt-clr: #fff;
	--primary-bg-clr: #2b2c37;	
	--secondary-bg-clr: #20212c;
	--third-bg-clr: rgba(43, 44, 55, 0.5);
	--fourth-bg-clr: #20212c;
	--lines-clr: #3e3f4e;
}

/* Navbar */
.navbar {
	width: 100%;
	background-color: var(--primary-bg-clr);
	display: flex;
	align-items: center;
	transition: 0.3s;
}

.navbar .navbar-logo {
	padding: 20px 0 30px 30px;
	width: 300px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar .navbar-links {
	padding: 20px 25px 30px;
	border-left: 1px solid var(--lines-clr, #e4e4e4);
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
}

.navbar-links .navbar-left {
	display: flex;
	align-items: center;
	gap: 15px;
}

.navbar-left img {
	display: none;
}

.navbar-left h1 {
	color: var(--txt-clr);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.navbar-links .navbar-right {
	display: flex;
	align-items: center;
	gap: 25px;
}

.navbar-right .icon-add-button-phone-version {
	display: none;
}

@media screen and (max-width: 767px) {
	.navbar .navbar-logo,
	.navbar-right > button {
		display: none;
	}
	.navbar-left img,
	.navbar-right .icon-add-button-phone-version {
		display: inline-block;
	}
	.navbar .navbar-links {
		padding: 20px 15px;
	}
	.navbar-left h1 {
		color: var(--txt-clr);
		font-family: "Plus Jakarta Sans", sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
	.navbar .navbar-logo {
		padding: 16px 80px 16px 25px;
		width: 260px;
	}
	.navbar .navbar-links {
		padding: 16px 25px;
	}
	.navbar-left h1 {
		color: var(--txt-clr);
		font-family: "Plus Jakarta Sans", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

/* Body */
.main {
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
}

.sidebar {
	padding: 15px 0;
	width: 300px;
	height: 100%;
	border-right: 1px solid var(--lines-clr, #e4e4e4);
	background-color: var(--primary-bg-clr);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: -1000px;
	transition: 0.3s;
}

.sidebar-visible {
	left: 0;
}

.sidebar .sidebar-top {
	display: flex;
	flex-direction: column;
}

.sidebar-top h4 {
	padding-left: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}

.boards-cards {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 15px 30px;
	width: 276px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}

.boards-cards:hover {
	color: var(--White, #fff);
	background-color: var(--Main-Purple, #635fc7);
	transition: 0.1s ease-in;
}

.boards-cards:hover svg path {
	fill: var(--White, #fff);
}

.sidebar-top .create-new-board {
	color: var(--Main-Purple, #635fc7);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 15px 30px;
	width: 276px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}

.sidebar .sidebar-bottom {
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.sidebar-bottom .night-light-toggle {
	width: 250px;
	height: 48px;
	background-color: var(--secondary-bg-clr);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.night-light-toggle .switch {
	position: relative;
	width: 50px;
	height: 24px;
}

.switch .slider {
	border-radius: 34px;
	background-color: var(--Main-Purple, #635fc7);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.4s;
	cursor: pointer;
}

.switch input {
	display: none;
}

.slider:before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background-color: var(--White, #fff);
	position: absolute;
	left: 2px;
	bottom: 2px;
}

.switch input:checked + .slider:before {
	transform: translateX(26px);
} 

.sidebar-bottom .sidebar-close-btn {
	margin-left: 30px;
	align-self: flex-start;
	display: flex;
	align-items: center;
	gap: 15px;
	cursor: pointer;
}

.sidebar-close-btn h3 {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.sidebar-open-btn {
	position: absolute;
	left: 0;
	bottom: 10%;
}

.sidebar-open-btn-not-visible {
	display: none;
}

.sidebar-open-btn > button {
	width: 56px;
	height: 48px;
	border: none;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	outline: none;
	background-color: var(--Main-Purple, #635fc7);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
} 

.main-content {
	padding: 24px;
	width: 100%;
	background-color: var(--secondary-bg-clr);
	flex: 1;
	display: flex;
	gap: 24px;
	transition: 0.3s;
}

.main-empty {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.main-empty h2 {
	color: var(--Medium-Grey, #828fa3);
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 90%;
}

.main-empty > button {
	color: var(--White, #fff);
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 15px 18px;
	border: none;
	border-radius: 24px;
	outline: none;
	background-color: var(--Main-Purple, #635fc7);
	cursor: pointer;
}

.main-empty > button:hover {
	background-color: var(--main-purple-hover, #a8a4ff);
}

.column-container {
	display: flex;
	gap: 24px;
}

.column-container-item {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.column-container-item .item-header {
	display: flex;
	align-items: center;
	gap: 12px;
}

.item-header .clr-box {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #49C4E5;
}

.item-header h3 {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.4px;
}

.item-card-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.item-card-container .item-cards {
	padding: 23px 16px;
	width: 280px;
	border-radius: 8px;
	background-color: var(--primary-bg-clr);
	display: flex;
	flex-direction: column;
	gap: 8px;
	cursor: pointer;
}

.item-cards h4 {
	color: var(--txt-clr);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.item-cards p {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.add-new-column {
	width: 280px;
	height: 100%;
	border-radius: 6px;
	background-color: var(--third-bg-clr);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.add-new-column h1 {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}



/* info about tasks */
.info-tasks {
	padding: 32px;
	width: 480px;
	height: auto;
	border-radius: 6px;
	background-color: var(--primary-bg-clr);
	position: absolute;
	top: -1000px;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
}

.info-tasks-visible {
	top: 50%;
}

.info-tasks-content {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
}

.info-tasks-header {
	display: flex;
	align-items: center;
	gap: 24px;
}

.info-tasks-header h2 {
	color: var(--txt-clr);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.btn-edit-delete {
	padding: 0;
	width: 0;
	border-radius: 8px;
	background-color: var(--primary-bg-clr);
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: absolute;
	top: 15%;
	right: -30%;
	overflow: hidden;
}

.btn-edit-delete-visible {
	padding: 16px;
	width: 192px;
}

.btn-edit-delete span {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 23px;
	cursor: pointer;
}

.btn-edit-delete .deleteTask {
	color: var(--Red, #ea5555);
}

.info-tasks-content > p {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 23px;
}

.subtasks p {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 16px;	
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.checkbox-cards {
	padding: 12px;
	width: 100%;
	height: auto;
	border-radius: 4px;
	background-color: var(--fourth-bg-clr);
	display: flex; 
	align-items: center;
	gap: 16px;
}

.checkbox-cards:hover {
	background-color: rgba(99, 95, 199, 0.25);
}

.checkbox-cards label {
	color: var(--txt-clr);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.label-checked {
	color: var(--txt-clr);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: line-through;
	opacity: 0.5;
}

.subtasks-category {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.subtasks-category p {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.subtasks-category select {
	color: var(--txt-clr);
	padding: 8px 16px;
	width: 100%;
	border: 1px solid var(--Main-Purple, #635fc7);
	border-radius: 4px;
	outline: none;
	background-color: var(--primary-bg-clr);
}



@media screen and (max-width: 767px) {
	.main-content {
		flex: 1;
	}
	.sidebar,
	.sidebar-open-btn button {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
	.sidebar {
		width: 260px;
	}
	.boards-cards,
	.create-new-board {
		padding: 15px 25px;
		width: 240px;
	}
	.sidebar-bottom .night-light-toggle {
		width: 235px;
	}
}





