:root {
	--txt-clr: #000112;
	--primary-bg-clr: #fff;
	--secondary-bg-clr: #f4f7fd;
	--lines-clr: #e4ebfa;
}

.dark-mode {
	--txt-clr: #fff;
	--primary-bg-clr: #2b2c37;	
	--secondary-bg-clr: #20212c;
	--lines-clr: #3e3f4e;
}

/* Navbar */
.navbar {
	width: 100%;
	background-color: var(--primary-bg-clr);
	display: flex;
	align-items: center;
	transition: 0.3s;
}

.navbar .navbar-logo {
	padding: 20px 0 30px 30px;
	width: 300px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar .navbar-links {
	padding: 20px 25px 30px;
	border-left: 1px solid var(--lines-clr, #e4e4e4);
	border-bottom: 1px solid var(--lines-clr, #e4e4e4);
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
}

.navbar-links .navbar-left {
	display: flex;
	align-items: center;
	gap: 15px;
}

.navbar-left img {
	display: none;
}

.navbar-left h1 {
	color: var(--txt-clr);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.navbar-links .navbar-right {
	display: flex;
	align-items: center;
	gap: 25px;
}

.navbar-right .icon-add-button-phone-version {
	display: none;
}

@media screen and (max-width: 767px) {
	.navbar .navbar-logo,
	.navbar-right > button {
		display: none;
	}
	.navbar-left img,
	.navbar-right .icon-add-button-phone-version {
		display: inline-block;
	}
	.navbar .navbar-links {
		padding: 20px 15px;
	}
	.navbar-left h1 {
		color: var(--txt-clr);
		font-family: "Plus Jakarta Sans", sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
	.navbar .navbar-logo {
		padding: 16px 80px 16px 25px;
		width: 260px;
	}
	.navbar .navbar-links {
		padding: 16px 25px;
	}
	.navbar-left h1 {
		color: var(--txt-clr);
		font-family: "Plus Jakarta Sans", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

/* Body */
.main {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	position: relative;
}

.sidebar {
	padding: 15px 0;
	height: 100%;
	border-right: 1px solid var(--lines-clr, #e4e4e4);
	background-color: var(--primary-bg-clr);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	left: -1000px;
	transition: 0.3s;
}

.sidebar-visible {
	left: 0;
}

.sidebar .sidebar-top {
	display: flex;
	flex-direction: column;
}

.sidebar-top h4 {
	padding-left: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}

.boards-cards {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 15px 30px;
	width: 276px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}

.boards-cards:hover {
	color: var(--White, #fff);
	background-color: var(--Main-Purple, #635fc7);
	transition: 0.1s ease-in;
}

.boards-cards:hover svg path {
	fill: var(--White, #fff);
}

.sidebar-top .create-new-board {
	color: var(--Main-Purple, #635fc7);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 15px 30px;
	width: 276px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}

.sidebar .sidebar-bottom {
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.sidebar-bottom .night-light-toggle {
	width: 250px;
	height: 48px;
	background-color: var(--secondary-bg-clr);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.night-light-toggle .switch {
	position: relative;
	width: 50px;
	height: 24px;
}

.switch .slider {
	border-radius: 34px;
	background-color: var(--Main-Purple, #635fc7);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.4s;
	cursor: pointer;
}

.switch input {
	display: none;
}

.slider:before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background-color: var(--White, #fff);
	position: absolute;
	left: 2px;
	bottom: 2px;
}

.switch input:checked + .slider:before {
	transform: translateX(26px);
} 

.sidebar-bottom .sidebar-close-btn {
	margin-left: 30px;
	align-self: flex-start;
	display: flex;
	align-items: center;
	gap: 15px;
	cursor: pointer;
}

.sidebar-close-btn h3 {
	color: var(--Medium-Grey, #828fa3);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.sidebar-open-btn {
	position: absolute;
	left: 0;
	bottom: 10%;
}

.sidebar-open-btn > button {
	width: 56px;
	height: 48px;
	border: none;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	outline: none;
	background-color: var(--Main-Purple, #635fc7);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
} 

.main-content {
	background-color: var(--secondary-bg-clr);
	transition: 0.3s;
}

@media screen and (max-width: 767px) {
	main {
		grid-template-columns: 1fr;
	}
	.sidebar-display {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
	.main {
		grid-template-columns: 260px 1fr;
	}
	.boards-cards,
	.sidebar-top .create-new-board {
		padding: 15px 25px;
		width: 240px;
	}
	.sidebar-bottom .night-light-toggle {
		width: 235px;
	}
}





