/* Main Designs for all web pages */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
	text-decoration: none;
	list-style-type: none;
}

/* Button Primary (L) */
.btn-primary-l {
	color: var(--White, #fff);
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 15px 25px;
	border: none;
	border-radius: 24px;
	outline: none;
	background-color: var(--Main-Purple, #635fc7);
	cursor: pointer;
}

.btn-primary-l:hover {
	background-color: var(--main-purple-hover, #a8a4ff);
}

/* Button Primary (S) */
.btn-primary-s {
	color: var(--White, #fff);
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	width: 255px;
	height: 40px;
	border: none;
	border-radius: 20px;
	outline: none;
	background-color: var(--Main-Purple, #635fc7);
	cursor: pointer;
}

.btn-primary-s:hover {
	background-color: var(--main-purple-hover, #a8a4ff);
}

/* Button Secondary */
.btn-secondary {
	color: var(--Main-Purple, #635fc7);
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	width: 255px;
	height: 40px;
	border: none;
	border-radius: 20px;
	outline: none;
	background-color: rgba(99, 95, 199, 0.1);
	cursor: pointer;
}

.btn-secondary:hover {
	background-color: rgba(99, 95, 199, 0.2);
}

/* Button Destructive */
.btn-destructive {
	color: var(--White, #fff);
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	width: 255px;
	height: 40px;
	border: none;
	border-radius: 20px;
	outline: none;
	background-color: var(--Red, #ea5555);
	cursor: pointer;
}

.btn-destructive:hover {
	background-color: var(--red-hover, #ff9898);
}
