* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

// Variables
// Font Sizes
$heading-xl: 24px;
$heading-l: 18px;
$heading-m: 15px;
$heading-s: 12px;
$body-l: 13px;
$body-m: 12px;
// Colors
$main-bg-clr: #F4F7FD;
$main-purple-clr: #635FC7;
$medium-grey-clr: #828FA3;
$light-grey-clr: #F4F7FD;
$white-clr: #FFF;



// Styles
body {
    width: 100%;
    display: grid;
    grid-template-columns: 21% 79%;
    background-color: #FFFFFF;

    aside {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .aside-top {
            padding: 32px 34px;
            display: flex;
            gap: 20px;
            cursor: pointer;
        }

        .aside-center {
            flex: 1;

            h1 {
                color: $medium-grey-clr;
                font-size: $heading-s;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2.4px;
                margin-bottom: 20px;
                padding-left: 32px;
            }

            .aside-center-links {
                li {
                    a {
                        color: $medium-grey-clr;
                        font-size: $heading-m;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        padding: 15px 32px;
                        width: 90%;
                        border-top-right-radius: 100px;
                        border-bottom-right-radius: 100px;
                        display: flex;
                        gap: 10px;

                        &:hover {
                            color: $white-clr;
                            background-color: $main-purple-clr;
                        }

                        img {
                            color: $medium-grey-clr;

                            &:hover {
                                color: $white-clr;
                            }
                        }
                    }
                }
            }
        }

        .aside-bottom {
            padding: 32px 24px;

            .light-night-switch {
                margin-bottom: 20px;
                padding: 14px;
                background-color: $light-grey-clr;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                img {
                    cursor: pointer;
                }
            }

            span {
                color: $medium-grey-clr;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    main {
        height: 100vh;
        background-color: $main-bg-clr;
    }
}