button {
	color: var(--White, #fff);
	text-align: center;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
}

/* Button Primary (L) */
.btn-primary-l {
	font-size: 15px;
	padding: 15px 25px;
	border-radius: 24px;
	background-color: var(--Main-Purple, #635fc7);
}

.btn-primary-l:hover {
	background-color: var(--Main-Purple-Hover, #a8a4ff);
}

/* Button Primary (S) */
.btn-primary-s {
	font-size: 15px;
	padding: 10px 18px;
	border-radius: 24px;
	background-color: var(--Main-Purple, #635fc7);
}

.btn-primary-s:hover {
	background-color: var(--Main-Purple-Hover, #a8a4ff);
}

/* Button Destructive (Delete) */
.btn-destructive {
	font-size: 13px;
	line-height: 23px;
	width: 255px;
	height: 40px;
	border-radius: 20px;
	background-color: var(--Red, #ea5555);
}

.btn-destructive:hover {
	background-color: var(--Red-Hover, #ff9898);
}


