/* Global Fonts Styles */
* {
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--txt-clr);
	font-weight: 700;
}

/* Heading (XL) */
.heading-xl {
	font-size: 24px;
}

/* Heading (L) */
.heading-l {
	font-size: 18px;
}

/* Heading (M) */
.heading-m {
	font-size: 15px;
}

/* Heading (S) */
.heading-s {
	color: var(--Medium-Grey, #828fa3);
	font-size: 12px;
	letter-spacing: 2.4px;
}

/* Body (L) */
.body-l-paragraph {
	font-size: 13px;
	font-weight: 500;
	line-height: 23px;
}

/* Body (M) */
.body-m-paragraph {
	font-size: 12px;
	font-weight: 700;
}