.icon {
    -webkit-mask-size: cover;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: #828FA3;
}

.board {
    mask-image: url("../../assets/favicon/board.svg");
    -webkit-mask-image: url("../../assets/favicon/board.svg");
}

.board--active {
    mask-image: url("../../assets/favicon/board-active.svg");
    -webkit-mask-image: url("../../assets/favicon/board-active.svg");
    background-color: white !important;

}

.board--purple {
    mask-image: url("../../assets/favicon/board-purple.svg");
    -webkit-mask-image: url("../../assets/favicon/board-purple.svg");
    background-color: #635FC7 !important;
}

.circle {
    mask-image: url("../../assets/favicon/circle.svg");
    -webkit-mask-image: url("../../assets/favicon/circle.svg");
    background-color: currentColor;
}

.drop--down {
    mask-image: url("../../assets/favicon/drop-down.svg");
    -webkit-mask-image: url("../../assets/favicon/drop-down.svg");
    background-color: #635FC7 !important;
}

.eye {
    mask-image: url("../../assets/favicon/eye.svg");
    -webkit-mask-image: url("../../assets/favicon/eye.svg");
}

.menu--dots {
    mask-image: url("../../assets/favicon/menu-dots.svg");
    -webkit-mask-image: url("../../assets/favicon/menu-dots.svg");
}

.moon {
    mask-image: url("../../assets/favicon/moon.svg");
    -webkit-mask-image: url("../../assets/favicon/moon.svg");
}

.sun {
    mask-image: url("../../assets/favicon/sun.svg");
    -webkit-mask-image: url("../../assets/favicon/sun.svg");
}

.checked{
    mask-image: url("../../assets/favicon/checked.svg");
    -webkit-mask-image: url("../../assets/favicon/checked.svg");
    background: var(--white, #FFF);
}

.close{
    mask-image: url("../../assets/favicon/close.svg");
    -webkit-mask-image: url("../../assets/favicon/close.svg");
    background: var(--medium-grey, #828FA3);
}