/* Global Colors */
:root {
    /* Auto Light Theme */
    --txt-clr: #000112;
    --primary-bg-clr: #fff;
    --secondary-bg-clr: #f4f7fd;
	--third-bg-clr: rgba(255, 255, 255, 0.5); 
	--lines-clr: #e4ebfa;

    /* Common Colors */
    --White: #fff;
    --Black: #000112;
    --Main-Purple: #635fc7;
	--Main-Purple-Hover: #a8a4ff;
    --Red: #ea5555;
	--Red-Hover: #ff9898;
    --Medium-Grey: #828fa3;
}

/* Dark Theme Class */
.dark-mode {
	--txt-clr: #fff;
	--primary-bg-clr: #2b2c37;	
	--secondary-bg-clr: #20212c;
	--third-bg-clr: rgba(43, 44, 55, 0.5);
	--lines-clr: #3e3f4e;
}