.navbar {
    width: 100%;
    height: auto;
    background-color: var(--primary-bg-clr);
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-logo {
    padding: 20px 35px 30px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-links {
    padding: 20px 25px 30px;
    border-left: 1px solid var(--lines-clr, #e4ebfa);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
	align-items: center;
	gap: 16px;
}

.navbar-left img,
.navbar-right .btn-phone {
    display: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.sidebar-phone {
    margin-top: 16px;
    padding: 16px 0;
    width: 264px;
    background-color: var(--primary-bg-clr);
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.sidebar-phone-visible {
    display: inline-block;
}

.sidebar-phone .heading-s {
    margin-bottom: 20px;
    padding-left: 24px;
}

.btn-boards {
    color: var(--Medium-Grey, #828fa3);
    padding: 15px 24px;
    width: 240px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-boards:hover {
    color: var(--White, #fff);
    background-color: var(--Main-Purple, #635fc7);
}

.btn-boards:hover svg path {
    fill: var(--White, #fff);
}

.btn-add-new-board {
    color: var(--Main-Purple, #635fc7);
    padding: 15px 24px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 12px;
}

.mode-toggle {
    margin: auto;
}

@media screen and (max-width: 767px) {
    .navbar-logo,
    .navbar-right .btn-pc {
        display: none;
    }
    .navbar-links {
        padding: 16px;
    }
    .navbar-left h1 {
        font-size: 18px;
    }
    .navbar-left img,
    .navbar-right .btn-phone {
        display: inline-block;
    }
    .navbar-right {
        gap: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .navbar-logo {
        width: 260px;
    }
    .navbar-logo,
    .navbar-links {
        padding: 16px 25px;
    }
    .navbar-left h1 {
        font-size: 20px;
    }
}
