.sidebar {
    padding: 15px 0;
    width: 300px;
    flex-grow: 1;
    background-color: var(--White, #fff);
}

.sidebar-top {
    display: flex;
    flex-direction: column;
}

.title {
    padding-left: 30px;
    margin-bottom: 20px;
}

.board {
	color: var(--Medium-Grey, #828fa3);
	padding: 15px 30px;
	width: 276px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
    background: transparent;
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}

.board:hover {
    color: var(--Main-Purple, #635fc7);
    background-color: var(--secondary-bg-clr, #f4f7fd);
}

.board:focus {
	color: var(--White, #fff);
	background-color: var(--Main-Purple, #635fc7);
}

.add-new-board {
    color: var(--Main-Purple, #635fc7);
	padding: 15px 30px;
	width: 276px;
    background: transparent;
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}

.addNewBoardForm {
    padding: 32px;
    width: 480px;
    min-height: 430px;
    border-radius: 8px;
    background-color: var(--White, #fff);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-new-board input {
    padding: 8px 12px;
    width: 100%;
    outline: none;
}

.name-new-board button {
    width: 100%;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .sidebar {
        width: 260px;
    }
    .board, .add-new-board {
        width: 240px;
    }
}